<p-toast />
<div class="flex flex-column flex-wrap">
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">
        <strong>EMPRESAS REGISTRADAS</strong>
    </div>
</div>


<p-table #table_usuarios [value]="service.lista_empresas()" styleClass="p-datatable-striped p-datatable-gridlines"
    [tableStyle]="{'min-width': '50rem'}" [globalFilterFields]="['NOMBRE','NIT']" [paginator]="true" [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-button label="Nuevo" [outlined]="true" icon="pi pi-user-plus"
                (click)="modalNuevaEmpresa = !modalNuevaEmpresa" />
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchValue"
                    (input)="table_usuarios.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>NIT</th>
            <th>NOMBRE</th>
            <th>DIRECCION</th>
            <th>ESTADO</th>
            <th>FECHA CREACION</th>
            <th>ACCION</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empresa>
        <tr>
            <td>{{empresa.nit}}</td>
            <td>{{empresa.nombre | uppercase}}</td>
            <td>{{empresa.direccion | uppercase}}</td>
            <td><p-tag [value]="getStatus(empresa.estado).nombre" [severity]="getStatus(empresa.estado).color" />
            <td>{{empresa.created_at | date : 'dd-MM-yyyy'}}</td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <p-button pRipple [icon]="empresa.estado== 'A' ?'pi pi-trash' : 'pi pi-check'" [rounded]="true"
                        [disabled]="loading" [severity]="empresa.estado== 'A' ? 'danger' : 'success'" [outlined]="true"
                        (click)="uiEstado(empresa)"></p-button>
                    <p-button pRipple icon="pi pi-pencil" [rounded]="true" [disabled]="loading" severity="info"
                        [outlined]="true" (click)="setEmpresa(empresa)"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [header]="modalTitle" [(visible)]="modalNuevaEmpresa" [modal]="true" (onHide)="close()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="card p-fluid">
        <form [formGroup]="empresaForm" #formDirective="ngForm" (ngSubmit)="nuevaEmpresa()">
            <div class="p-formgrid grid">
                <div class="field col"><label htmlfor="nit">NIT</label>
                    <p-inputNumber inputId="integeronly" formControlName="nit" [readonly]="empresaForm.value.id > 0" />
                    @if(empresaForm.get('nit').invalid && (empresaForm.get('nit').dirty ||
                    empresaForm.get('nit').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
                <div class="field col"><label htmlfor="nombre">NOMBRE</label>
                    <input formControlName="nombre" id="nombre" type="text" class="p-inputtext p-component p-element">
                    @if(empresaForm.get('nombre').invalid &&
                    (empresaForm.get('nombre').dirty ||
                    empresaForm.get('nombre').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col"><label htmlfor="direccion">DIRECCION</label><input formControlName="direccion"
                        id="direccion" type="text" class="p-inputtext p-component p-element">
                    @if(empresaForm.get('direccion').invalid && (empresaForm.get('direccion').dirty ||
                    empresaForm.get('direccion').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
            </div>
        </form>
    </div>
    <p-button class="flex align-items-center justify-content-center" label="Guardar" icon="pi pi-check"
        [loading]="loading" [disabled]="!empresaForm.valid"
        (onClick)="empresaForm.value.id > 0 ? actualizarEmpresa(empresaForm.value) : nuevaEmpresa()" />
</p-dialog>