<p-toast />
<!-- @if(clienteService.isLoading()){
<div class="flex flex-wrap justify-content-center" style="max-width: 100vw">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s" />
</div>
} -->
<!-- @else{ -->
<p-table #table_clientes [value]="clienteService.lista_clientes()"
    styleClass="p-datatable-striped p-datatable-gridlines" [globalFilterFields]="['nombre','documento', 'apellido']"
    [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-button label="Nuevo" [outlined]="true" icon="pi pi-user-plus"
                (click)="modals.nuevoCliente = !modals.nuevoCliente" />
            <!-- <div class="flex flex-column flex-wrap"> -->
            <!-- <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2"> -->
            <div
                class="flex align-items-center justify-content-center m-auto bg-primary font-bold border-round h-2rem w-20rem">
                <strong>CLIENTES REGISTRADOS</strong>
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <span class="p-input-icon-left ml-auto h-2rem">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchValue"
                    (input)="table_usuarios.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>DOCUMENTO</th>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>TELEFONO</th>
            <th>FECHA NACIMIENTO</th>
            <!-- <th>ACCION</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr>
            <td>{{cliente.tipo_documento}} - {{cliente.documento}}</td>
            <td>{{cliente.nombre | uppercase}} {{cliente.apellido | uppercase}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.fecha_nacimiento}}</td>
            <!-- <td>
                <p-splitButton icon="pi pi-cog" [model]="items" (onDropdownClick)="setRow(usuario)" outlined
                    appendTo="body" />
            </td> -->
        </tr>
    </ng-template>
</p-table>
<!-- } -->
<!-- NUEVO CLIENTE -->
<p-dialog [header]="modals.modalTitle" [(visible)]="modals.nuevoCliente" [modal]="true" (onHide)="close()"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="card p-fluid">
        <form [formGroup]="formCliente" #formDirective="ngForm" (ngSubmit)="nuevoCliente()">
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlfor="tipo_documento">TIPO DOCUMENTO</label>
                    <p-dropdown styleClass="w-full" [options]="utilityService.tipos_documento()"
                        formControlName="tipo_documento" [optionLabel]="'label'" [optionValue]="'value'"
                        appendTo="body" />
                    @if(formCliente.get('tipo_documento').invalid &&
                    (formCliente.get('tipo_documento').dirty ||
                    formCliente.get('tipo_documento').touched)){
                    <div>
                        <span style=" color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
                <div class="field col"><label htmlfor="documento">DOCUMENTO</label>
                    <p-inputNumber inputId="integeronly" formControlName="documento"
                        [readonly]="formCliente.value.id > 0" />
                    @if(formCliente.get('documento').invalid && (formCliente.get('documento').dirty ||
                    formCliente.get('documento').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col"><label htmlfor="nombre">NOMBRES</label>
                    <input formControlName="nombre" id="nombre" type="text" class="p-inputtext p-component p-element">
                    @if(formCliente.get('nombre').invalid &&
                    (formCliente.get('nombre').dirty ||
                    formCliente.get('nombre').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
                <div class="field col"><label htmlfor="apellido">APELLIDOS</label><input formControlName="apellido"
                        id="apellido" type="text" class="p-inputtext p-component p-element">
                    @if(formCliente.get('apellido').invalid && (formCliente.get('apellido').dirty ||
                    formCliente.get('apellido').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col"><label htmlfor="telefono">TELEFONO</label>
                    <p-inputMask mask="(999) 999-9999" formControlName="telefono" id="telefono"
                        placeholder="(999) 999-9999" />
                    @if(formCliente.get('telefono').invalid &&
                    (formCliente.get('telefono').dirty ||
                    formCliente.get('telefono').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
                <div class="field col"><label htmlfor="email">EMAIL</label>
                    <input formControlName="email" id="email" type="email" class="p-inputtext p-component p-element">
                    @if(formCliente.get('email').invalid && (formCliente.get('email').dirty ||
                    formCliente.get('email').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col"><label htmlfor="fecha_nacimiento">FECHA NACIMIENTO</label>
                    <p-calendar formControlName="fecha_nacimiento" appendTo="body" [maxDate]="maxDate" />
                    @if(formCliente.get('fecha_nacimiento').invalid &&
                    (formCliente.get('fecha_nacimiento').dirty ||
                    formCliente.get('fecha_nacimiento').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
                @if(usuarioService.currentUser().tipo_usuario == 'SUPER_ADMIN'){
                <div class="field col"><label htmlfor="empresa">EMPRESA</label>
                    <p-dropdown [options]="empresaService.lista_empresas()" formControlName="empresa_id"
                        [optionLabel]="'nombre'" [optionValue]="'id'" />
                    @if(formCliente.get('empresa_id').invalid && (formCliente.get('empresa_id').dirty ||
                    formCliente.get('empresa_id').touched)){
                    <div>
                        <span style="color: red; font-weight: bold;">Este campo es requerido</span>
                    </div>
                    }
                </div>
                }
            </div>
        </form>
    </div>
    <p-button class="flex align-items-center justify-content-center" label="Guardar" icon="pi pi-check"
        [disabled]="!formCliente.valid" (onClick)="formCliente.value.id > 0 ? actualizarCliente() : nuevoCliente()" />
</p-dialog>